<!-- <form [formGroup]="loginForm" class="login-form" (submit)="login()">
    <div appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required>
    </div>
  
    <div appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required>
    </div>
  
    <button mat-raised-button color="primary" type="submit">Login</button>
  </form> -->

  <div *ngIf="!loggedIn">
    <button (click)="signInWithGoogle()">Sign in with Google</button>
  </div>
  <div *ngIf="loggedIn">
    <p>Welcome {{ user.name }}!</p>
    <button (click)="signOut()">Sign out</button>
  </div>