<div>
  <br>
    <div class="container">
      <header>
        <mat-toolbar color="primary">
          <div>
            <a [routerLink]="['/patents']">Patent Explorer</a>
          </div>
          </mat-toolbar>
      </header>

    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <input>
          </mat-card-title>
          <mat-card-content>
              <div class="example-container mat-elevation-z8">
                <router-outlet></router-outlet>
                </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>